* {
    padding: 0;
}

nav {
    background-color: orangered;
    height: 300px;
    font-size: 20px;
}

a {
    margin-left: 20px;
    text-decoration: none;
    color: brown; /* white */
    padding-top: 10%;
}

a:hover {
    background-color: brown;
}

* {
    margin: 0 auto;
    padding: 0;
}

nav {
    background-color: red;
    height: 50px;
    font-size: 30px;
}

a {
    margin-left: 20px;
    text-decoration: none;
    color:white; /* white */
    padding-top: 10%;
}

a:hover {
    background-color: white;
}
img{
    margin-left: 200px;
}

.container{
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    margin-right: 250px;
    margin: 0px auto;
    height: 300px;
    width: 100px;
}
#red{
    height: 90px;
    width: 90px;
    background-color:red;
    border-radius: 50%;
}
#yellow{
    margin-top: 10;
    height: 90px;
    width: 90px;
    background-color: rgb(237, 213, 31);
    border-radius: 50%;
}
#green{
    margin-top: 10;
    height: 90px;
    width: 90px;
    background-color: rgb(99, 186, 12);
    border-radius: 50%;
}
#danda{
    margin-top: 20px;
    height: 300px;
    width: 30px;
    background-color: black;
}